*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: #002333;
}

.material-icons {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7%;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Video player styles */

#video_player {
    position: relative;
    width: 700px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 255, 255, .24);
}

#main_video {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}

#video_player .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgb(0 0 0 / 71%);
    box-shadow:  0 0 40px 10px rgb(0 0 0 / 25%);
    z-index: 3;
    transform: translateY(0);
}

/* Progress bar start */
#video_player .controls .progress_area {
    width: 100%;
    height: 5px;
    margin: auto;
    background: #f0f0f0;
    cursor: pointer;
}

#video_player .controls .progress_area .progress_bar {
    position: relative;
    width: 50%;
    background: rgb(255, 174, 0);
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
}

#video_player .controls .progress_area .progress_bar::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255, 174, 0);
}
/* Progress bar end */


/* controls_container start */
#video_player .controls .controls_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 46px;
    margin: 0 auto;
}

#video_player .controls .controls_container .controls_left,
#video_player .controls .controls_container .controls_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls_left .timer {
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    color: #fff;
    margin-left: 5px;
    text-align: center;
    user-select: none;
}

.controls .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 8px;
    margin-right: 5px;
}

.controls .icon .material-icons {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

.controls .icon .material-icons.fast_rewind:active {
    transform: rotate(-45deg);
    transition: .2s;
}

.controls .icon .material-icons.fast_forward:active {
    transform: rotate(45deg);
    transition: .2s;
}

.controls .icon .volume_range {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 3px;
    background: #fff;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .4s;
}

.controls .icon:hover .volume_range {
    display: inline-block;
    width: 60px;
}

.controls .icon .volume_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #fff;
    color: #fff;
    transition: .3s;
    opacity: 0;
}

.controls .icon:hover .volume_range::-webkit-slider-thumb {
    opacity: 1;
    pointer-events: auto;
    transition: .5s;
}

/* autoplay button start */
.controls .controls_right .icon .auto_play {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    position: relative;
    margin-left: 8px !important;
    background: #b6b6b6;
}

.controls .controls_right .icon .auto_play::before {
    content: '\e034';
    position: absolute;
    width: 17px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Material Icons';
}

.controls .controls_right .icon .auto_play.active::before {
    content: '\e037';
    left: 15px;
    font-family: 'Material Icons';
}
/* autoplay button end */


.controls .controls_right .icon .material-icons .settings_btn {
    font-size: 24px;
    transition: .3s;
    color: red;
}

.controls .controls_right .icon .material-icons .settings_btn.active {
    transform: rotate(45deg);
}

/* controls_container end */

/* Settings start */
#video_player #settings {
    position: absolute;
    right: 25px;
    bottom: 62px;
    background: rgb(28 28 28 / 80%);
    width: 200px;
    height: 250px;
    color: #fff;
    overflow-y: scroll;
    z-index: 20;
}

#settings .playback span {
    user-select: none;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 30px;
    display: block;
    border-bottom: 1px solid rgb(83 83 83);
}

#settings ul {
    list-style: none;
    position: relative;
}

#settings ul li {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 12px 33px;
    cursor: pointer;
    display: block;
    font-size: 14px;

}

#settings ul li:hover {
    background: rgba(28, 28, 28, .9);
}

#settings ul li.active::before {
    content: '\e876';
    font-family: 'Material Icons';
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
}

#settings::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#settings::-webkit-scrollbar-thumb {
    height: 80px;
    border: 2px solid transparent;
    background: rgba(83, 83, 83, .9);
    cursor: pointer;
    border-radius:1px;
}
/* Settings end */